## basic - 1. 데이터 다루기

#### 1. 함수 만들기

In [2]:
# 기본 구성
'''
def 함수이름(input):
    처리코드
ouput'''

'\ndef 함수이름(input):\n    처리코드\nouput'

In [7]:
# 예시 1
def hello(name,loud = 1):
    if loud == 1 :
        print('hello'+name+'!')
    else :
        print('hello'+name+'ㅎ')

# 실행
hello(name='yang',loud=1)
hello(name='yang',loud=2)

helloyang!
helloyangㅎ

In [9]:
# 예시 2 - * : 입력 값의 수를 정하지 않고, 들어오는대로 받는다.

def number(*num):
    print(num)

number(1,2,3)
number(5,68,2,7)

(1, 2, 3)
(5, 68, 2, 7)

In [32]:
# 예시 2-2. 여러 숫자를 입력받아 모두 합한값을 반환

def summ(*nums):
    total=0
    for num in nums :
        total+=num
    return(total)

summ(1,2,3,4,5)

15

In [39]:
# ouput 1 - return : 결과 값을 받아서 사용하기 위해 반드시 필요.

def summ1(*nums):
    return nums

#
print(summ1(1,13,465))
a1 = summ1(1,2,5)
print(a1)

(1, 13, 465)
(1, 2, 5)

In [40]:
# ouput 2 - return을 이용하여 여러 개의 결과를 사용할 수도 있음.

def calculate(a,b):
    summ = a + b
    mult = a * b
    return summ, mult

r1,r2=calculate(5,10)
print(r1)
print(r2)

15
50

In [44]:
# 예외 처리
def divide(a,b) :
    if b == 0 :
        print('나누는 값은 0이 될 수 없음')
    else :
        result = a/b
        return result

divide(10,0)

나누는 값은 0이 될 수 없음

#### 2. 문자열 다루기

In [53]:
# 문자열 안에 변수값 넣기 
# .format
a = '이름 : {}, 나이 : {}'

print(a.format('양주연', 00))


# f
name = '양주연'
age = 00
a = f'이름 : {name}, 나이 : {age}'
print(a)

이름 : 양주연, 나이 : 0
이름 : 양주연, 나이 : 0

In [55]:
b = 'wow'

# 대문자로 변환
print(b.upper())

# 소문자로 변환
print(b.lower())

# 첫 문자만 대문자로 변환
print(b.capitalize())

WOW
wow
Wow

In [60]:
# 문자열로 이루어진 리스트를, 하나의 문자열로 결합 .join
a = ['빨강','파랑','노랑']
','.join(a)

# 분할하여 리스트로 만들어 줌 .split

b = '나는, 취뽀한다'
print(b.split())
print(b.split(','))

# 공백 제거
c = '   양주연   '
# 왼쪽 공백 제거
print(c.lstrip())
print(c.rstrip())
print(c.strip())

['나는,', '취뽀한다']
['나는', ' 취뽀한다']
양주연
   양주연
양주연

In [ ]:
# 종합 실습 1.

number = 77
while True : 
    print('0~100사이의 숫자를 맞춰보세요.')
    num = int(input())
    if num > 100 :
        print('잘못 입력 했습니다.')
    else :
        if num == number :
            print('맞췄습니다!')
        elif num > number :
            print('더 작습니다.')
        else :
            print('더 큽니다.')

In [65]:
# 종합 실습 2. 로또 번호 생성기

import random as rd

def lotto_number():
    result = rd.sample(list(range(1,47)),6)
    result.sort()
    print(result)
    
lotto_number()

[8, 11, 22, 42, 43, 44]